@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
.App {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

.header {
    height: 30px;
}

.header > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
}

.intro-info {
    padding: 20px;
    margin: 2px;
}

.intro-info > h1 {
    color: #6200c5;
}

